---
import { cn } from '@/lib/cn'
import { ui } from '@/lib/ui'

type Props = {
  className?: string
}

const { className = '' } = Astro.props
---

<section class={cn(ui.compactSection, className)}>
  <slot />
</section>
