---
import ArrowRightIcon from '@/components/ui/icons/ArrowRightIcon.astro'
import { cn } from '@/lib/cn'
import { ui } from '@/lib/ui'

type Props = {
  className?: string
  iconClassName?: string
  label: string
}

const {
  className,
  iconClassName = 'size-[0.88rem]',
  label,
} = Astro.props
---

<span class={cn(ui.inlineCta, className)}>
  <span>{label}</span>
  <ArrowRightIcon className={iconClassName} />
</span>
