---
import type { CollectionEntry } from 'astro:content'
import { getAppHref } from '../lib/app-links'

type Props = {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props
---

<article class="panel article-card">
  <p class="section-eyebrow">{post.data.path.join(' / ')}</p>
  <h3>{post.data.title}</h3>
  <div class="meta-list">
    <a class="button-link button-link--primary" href={`/blog/${post.id}`}>Learn</a>
    {post.data.relatedDeckIds.length > 0 ? (
      <a class="button-link" href={getAppHref(`/decks/${post.data.relatedDeckIds[0]}`)}>Practice</a>
    ) : null}
  </div>
</article>
